@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Space+Grotesk:wght@300..700&display=swap");

html {
  --s: 200px; /* control the size*/
  --c1: #1d1d1d;
  --c2: #4e4f51;
  --c3: #3c3c3c;

  background: repeating-conic-gradient(
        from 30deg,
        #0000 0 120deg,
        var(--c3) 0 50%
      )
      calc(var(--s) / 2) calc(var(--s) * tan(30deg) / 2),
    repeating-conic-gradient(
      from 30deg,
      var(--c1) 0 60deg,
      var(--c2) 0 120deg,
      var(--c3) 0 50%
    );
  background-size: var(--s) calc(var(--s) * tan(30deg));
}

body {
  font-family: "Space Grotesk", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: hsl(240 4.8% 95.9%);
}

.container {
  padding: 24px 32px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid hsl(240 3.7% 15.9%);
  background-color: hsl(240 10% 3.9% / 0.8);
  backdrop-filter: blur(10px);
}

h1 {
  margin: 0;
  font-size: 2rem;
}

.toggle-tab {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  background: hsl(240, 4%, 16%);
  padding: 4px;
  border-radius: 6px;
  width: fit-content;
  display: flex;
  gap: 4px;
  border: 1px solid hsl(240, 4%, 30%);
}

.tab {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: hsl(0, 0%, 94%);
  cursor: pointer;
  transition: box-shadow 0.3s;
  background: transparent;

  font-size: 0.8rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.tab.active {
  background-color: hsl(240, 10%, 4%);
}

#password-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid hsl(120, 61%, 50%);
  border-radius: 5px;
  cursor: pointer;
}

#password {
  font-size: 1rem;
  color: hsl(120, 61%, 50%);
  font-family: "Fira Code", "Courier New", Courier, monospace;
  margin-left: 10px;
}

.icon {
  color: hsl(120, 61%, 50%);
  margin-left: auto;
}

.generate-button {
  padding: 12px 24px;
  color: hsl(0, 0%, 94%);
  cursor: pointer;
  background: hsl(240, 4%, 16%);
  border: 1px solid hsl(240, 4%, 30%);
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: background-color 150ms;
}

.generate-button:hover {
  background-color: hsl(240, 4%, 20%);
}

.generate-button:active {
  border-color: hsl(240, 4%, 40%);
}
